<a href="https://colab.research.google.com/github/TanuShree952838/Data-Structures/blob/main/List_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Write a Python program to return the last item in a list ?
x = [1,2,3,4,5,6,7,8,9,10]
y = [10,20,30,40,50,60,70,80,90,100]
z = [110,220,330,440,550,660,770,880,990]**

In [1]:
x = [1,2,3,4,5,6,7,8,9,10]
y = [10,20,30,40,50,60,70,80,90,100]
z = [110,220,330,440,550,660,770,880,990]
print(x[-1],y[-1],z[-1])

10 100 990

**Write a Python program to reverse a list.**

In [6]:
def rev_list(list):
  return list[::-1]
rev_list([4,6,8,9,5,3,5])

[5, 3, 5, 9, 8, 6, 4]

**Write a python program that return the difference between first and last items in a list?
a = [110,140,170,200,230,260,290,320,350,380,410,440,470,500]**

In [8]:
a = [110,140,170,200,230,260,290,320,350,380,410,440,470,500]
print(a[-1]-a[0])

390

**Write a python program that return the sum of the absolute value of each element of a list :
x = [10,20,30,40,50]**

In [10]:
def abs_sum(x):
  return sum(map(abs, x))

x = [10,20,30,40,50]
abs_sum(x)

150

In [11]:
x = [10,20,30,40,50]
print(sum(x))

150

**Write a python program that Return the largest number in the list.
x = [10,20,30,40,50,60,70,80,90,100]**

In [14]:
x = [10,20,30,40,50,60,70,80,90,100]
print(max(x))

100

**Write a Python program that accepts a list and returns the last item in the list.
Try it for the following list:
x= [ 1,2,3,4,5,'a','b','c','d','e']**

In [16]:
x= [ 1,2,3,4,5,'a','b','c','d','e']
print(x[-1])

e

**Create a Python program to sort a list in ascending order which starting from the left of the list and,compare numbers by pairs. If the first pair is ordered [smaller number, larger number], and  so on.
If the first pair is ordered [larger number, smaller number], swap the two integers before moving on to the next pair.
then repeat this process again until you get to the end of the list.
Then, return to the beginning of the list and repeats this process again until the entire list is sorted.
If the unsorted list is: [5,100,20,15,150,80,210,30], what is the number of swaps you will need?**

In [17]:
def number_of_swaps(lst):
    swaps, target = 0, sorted(lst)
    while lst != target:
        for i in range(len(lst) - 1):
            lst[i], lst[i+1] = lst[i+1], lst[i]
            swaps += 1
        return swaps
number_of_swaps([5,100,20,15,150,80,210,30])

7

**Create a function that accepts a list of numbers and return both the minimum and maximum numbers, in that order (as a list).**

In [20]:
def Min_Max(lst):
  return [min(lst), max(lst)]
Min_Max([5,100,20,15,150,80,210,30])

[5, 210]

**Write a Python program that complete an array with random numbers:**

In [24]:
from random import randint
x = 20
array =[]
for i in range(x):
    array.append(randint(1,99))
for i in array:
    print(i, end= ' ')
print()

88 61 15 74 18 47 7 58 95 32 78 9 13 87 40 47 50 21 68 89

**Create a Python program that takes a number and returns a list with the digits of the number in reverse order.**

In [27]:
def reverse_list(num):
  return [int(i) for i in str(num)[::-1]]
reverse_list(8945732)

[2, 3, 7, 5, 4, 9, 8]